examples/example_flow.json
[{"id":"4454fa28.b55104","type":"inject","z":"995c4fad.528d4","name":"","topic":"hello","payload":"123","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":340,"wires":[["60bfc16.4a0464","a2bbf1de.b0b42"]]},{"id":"b37d1f8f.a0103","type":"debug","z":"995c4fad.528d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":340,"wires":[]},{"id":"60bfc16.4a0464","type":"nostalgic","z":"995c4fad.528d4","name":"","interval":"3","resend":false,"x":640,"y":340,"wires":[["b37d1f8f.a0103"]]},{"id":"637be208.038c1c","type":"inject","z":"995c4fad.528d4","name":"","topic":"hello","payload":"8000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":280,"wires":[["60bfc16.4a0464","a2bbf1de.b0b42"]]},{"id":"aab554e9.b53458","type":"inject","z":"995c4fad.528d4","name":"","topic":"hello","payload":"10000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":220,"wires":[["60bfc16.4a0464","a2bbf1de.b0b42"]]},{"id":"a2bbf1de.b0b42","type":"change","z":"995c4fad.528d4","name":"","rules":[{"t":"set","p":"lastTimestamp","pt":"global","to":"","tot":"date"},{"t":"set","p":"lastMsg","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"lastTopic","pt":"global","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[[]]},{"id":"18fe981c.b7e4f8","type":"inject","z":"995c4fad.528d4","name":"","topic":"lastMessage","payload":"lastMsg","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":280,"y":400,"wires":[["2db88eb5.9566f2"]]},{"id":"2db88eb5.9566f2","type":"change","z":"995c4fad.528d4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"lastTopic","tot":"global"},{"t":"set","p":"timestamp","pt":"msg","to":"lastTimestamp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["60bfc16.4a0464"]]},{"id":"7cff93f.812586c","type":"inject","z":"995c4fad.528d4","name":"","topic":"","payload":"1478931025618","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["1a123acc.c3d7e5"]]},{"id":"1a123acc.c3d7e5","type":"change","z":"995c4fad.528d4","name":"","rules":[{"t":"set","p":"lastTimestamp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[[]]}]
